// Examples
$color-dark: #151212;
$default-height: 2458px;
.container {
    width: 100%;
    height: ($default-height - 120)px;
    .box-1 {
        color: $color-dark;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

header{
    background-color: rgb(212, 140, 7);
    color: white;
    padding: 15px;
    h1{
        margin-bottom: 20px;
    }
}

.todo-container{
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid dimgray;
    border-radius: 20px;
}

.add-bar{
    width: 200px;
    padding: 10px;
    border: 1px solid #e0dede;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 20px;
}

.input-button{
    font-size: 15px;
    cursor: pointer;
    padding: 14px;
    border: none;
    border-radius: 5px;
    background-color: #012dbedc;
    color: white;
}
